<input id="search" type="text" required="true" placeholder="Search" autofocus>
<input id="add-song" type="text" required="true" placeholder="Add song">
<div id="suggestions"></div>

<script type="text/javascript">
  // dom elements
  const letterInput = document.querySelector("input#search");
  const songInput = document.querySelector("input#add-song");
  const suggestionEl = document.querySelector("div#suggestions");
  // helpers
  function render(list) {
    list.forEach(
      bandName => {
        const bandElem = document.createElement("p");
        bandElem.textContent = bandName;
        suggestionEl.appendChild(bandElem);
      }
    )
  }
  function get_results() {
    while (suggestionEl.firstChild) {
        suggestionEl.firstChild.remove();
    }
    const query = letterInput.value;
    fetch(
      '/search',
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: 'POST',
        credentials: 'same-origin',
        body: JSON.stringify({ query }),
      }
    ).then(
      res => res.json()
    ).then(
      json => render(json)
    );
  }
  // listeners
  letterInput.addEventListener(
    'input',
    event => {
      get_results();
    }
  )
  songInput.addEventListener(
    'change',
    event => {
      const song = songInput.value;
      console.log(song);
      fetch(
        '/song',
        {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: 'POST',
          credentials: 'same-origin',
          body: JSON.stringify({ song }),
        }
      )
      get_results();
    }
  )
  // on page load
  get_results();
</script>
