<input id="search" type="text" required="true" placeholder="Search" autofocus>
<label for="add-song">Add song(format: artist - song name):</label>
<input id="add-song" type="text" required="true" placeholder="Add song">
<br>
<select id="instrument">
  <option value="all instruments">All instruments</option>
  <option value="guitar">Guitar</option>
  <option value="bass">Bass</option>
</select>
<label for="licensed">Licensed</label>
<select id="licensed">
  <option value="true">True</option>  
  <option value="false">False</option>
</select>
<div id="suggestions"></div>

<script type="text/javascript">
  // dom elements
  const letterInput = document.querySelector("input#search");
  const songInput = document.querySelector("input#add-song");
  const suggestionEl = document.querySelector("div#suggestions");
  const instrumentEl = document.querySelector("select#instrument");
  const licensedEl = document.querySelector("select#licensed");
  // helpers
  function render(list) {
    list.forEach(
      bandName => {
        const bandElem = document.createElement("p");
        bandElem.textContent = bandName;
        suggestionEl.appendChild(bandElem);
      }
    )
  }
  function get_results() {
    while (suggestionEl.firstChild) {
        suggestionEl.firstChild.remove();
    }
    const query = letterInput.value;
    const licensed = licensedEl.value;
    const instrument = instrumentEl.value;

    fetch(
      '/search',
      {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: 'POST',
        credentials: 'same-origin',
        body: JSON.stringify({query, instrument, licensed}),
      }
    ).then(
      res => res.json()
    ).then(
      json => render(json)
    );
  }
  // listeners
  letterInput.addEventListener(
    'input',
    event => {
      get_results();
    }
  )
  songInput.addEventListener(
    'change',
    event => {
      const song = songInput.value;
      console.log(song);
      fetch(
        '/song',
        {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: 'POST',
          credentials: 'same-origin',
          body: JSON.stringify({ song }),
        }
      )
      get_results();
    }
  )
  instrumentEl.addEventListener(
    'change',
    event => {
      get_results();
    }
  )
  licensedEl.addEventListener(
    'change',
    event => {
      get_results();
    }
  )
  // on page load
  get_results();
</script>
